
body {
  font-family: "Montserrat";
}

#tittle {
  background-color: #113cfc;
}

h1{
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1;
  color: #fff;
}


h2{
  font-family: "Montserrat-Bold";
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

h4 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

/* Title image */

.title-image{
  width: 60%;
  position: absolute;
  right: 30%;
}

.container-fluid {
  padding: 3% 15%;
}


/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
    color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nar-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* MY SKILLS SECTION */

#Skills {
  background-color: #fff;
  padding: 7% 15%;
  z-index: 1;
  position: relative;

}

.skill-text {
  text-align: left;
  color: grey;
}

.myskill-box{
  text-align: center;
  padding: 3%;
  line-height: 1.5;
}

.icon {
  color: #3db2ff;
  margin-bottom: 1rem;
}

.icon:hover {
color: #113cfc;
}

.portf{
  padding-top: 3%;
  width: 70%;
  margin: 20px;
  border-radius: 100%;
}
/* Testimonials Section */
#testimonials{
  background-color: #3db2ff;
  text-align: center;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* Press Section */
#press{
  background-color: #3db2ff;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 3% 15%;
}


/* cta section */

#cta{
  font-family: "Montserrat-Bold";
  color: #fff;
  background-color:#113cfc;
  text-align: center;
  line-height: 1.5rem;
  padding: 7% 15%;
}

.Contact-me {
  color: #ffedda;
  margin: 5% 3% 5% 0;
}

.Contact-me:hover {
  color: #ffb830;
}

.container-fluid portfolios{
  background-color: #fff;
  padding: 0 0 4.5rem;
}

@media (max-width: 1028px) {

#tittle{
  text-align: center;
}

.title-image {
  position: static;
}


}
